<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Miles Ahead</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />


</head>

<body>
    <div class="hero-image">
        <nav class"nav">
            {{#if loggedIn}}
            <a class="link" href="/" id="logout">Logout</a>
            {{else}}
            <a class="link" href="/login">Login</a>
            {{/if}}
        </nav>
    
        <div class="logo-img">
            <img src="/Assets/pictures/logo.png" alt="">
        </div>
                
        {{{ body }}}

        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </div>
    
</body>