<div class="progress-form" id="progress">



    <h1>Here is your progress!</h1>
    <h2>Display Mileage Here</h2> Miles Today
    <h2>Display Goals Here</h2> Weekly Goal



</div>


<div class="activity-form" id="activityform">

    <div class="user" id="newuser">

        <button class="btn1" onclick="document.location.replace('/milesentry/');">Enter Activity</button><br>
        <button class="btn1" onclick="document.location.replace('/goals/');">Enter Goals</button>

    </div>

</div>

<script src="/javascript/activity.js"></script>