<div class="main-form" id="strtform">


    <div class="goal-page" id="usergoals">
        <h1>What are your goals this week?</h1>
        <form action="/action_page.php">
            <label for="fname">Goals:</label>
            <input type="text" id="goals" name="goals"><br><br>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>


</div>

<script src="/javascript/goals.js"></script>