<div class="main-form" id="strtform">


    <div class="goal-page" id="usergoals">
        <h1>What are your goals this week?</h1>
        <form id="goals">
            <label for="fname">Run:</label>
            <input type="text" id="run" name="run"><br><br>
            <label for="fname">Walk:</label>
            <input type="text" id="walk" name="walk"><br><br>
            <label for="fname">Bike:</label>
            <input type="text" id="bike" name="bike"><br><br>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>


</div>

<script src="/javascript/goals.js"></script>