<div class="main-form" id="loginform">


    <div class="username" id="userid">
        <h1>Log In With Your Username Below</h1>
        <form>
            <label for="uname">Username:</label>
            <input type="text" id="uname" name="funame"><br><br>
            <label for="fname">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>



    <div class="user" id="newuser">

        <button class="btn" onclick="document.location.replace('/newuser/');">New User</button>
    </div>



</div>

<script src="/javascript/login.js"></script>