<div class="username" id="userid">
    <h1>Log In With Your Username Below</h1>
    <form action="/action_page.php">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="funame"><br><br>
        <label for="fname">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input class="btn" type="submit" value="Submit">
    </form>
</div>



<div class="user" id="newuser">

    <button class="btn" onclick="window.location.href='newuser.html';">New User</button>
</div>

<script src="/javascript/login.js"></script>

