<div class="progress-form" id="progress">



    <h1>Here is your progress!</h1>
    <h2>Display Mileage Here</h2> Miles Today
    <h2>Display Goals Here</h2> Weekly Goal



</div>

<script src="/javascript/progress.js"></script>